@charset "gb2312";
/* CSS Document */

h1, h2, h3, h4, h5, h6, 
dl, dd, dt, ol, ul, li, 
p, form { margin: 0; padding: 0; }

ol, ul, li, dl, dd, dt { list-style: none; } a img { border: none; } em, i { font-style: normal; }
input, option, select, textarea, button { font-size: 12px; }
div, li, ul, ol, dl, dd, dt, p { width: auto; overflow: hidden; }

a { overflow: hidden; outline: none; text-decoration: none; }
a:hover { text-decoration: underline; }
.clear { clear: both; font-size: 0; visibility: hidden; width: 0; line-height: 0; }
.fl { float: left; display: inline; } .fr { float: right; display: inline; }

.clearfix:after { content:"."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.xRel { position: relative; }
.xAbs { position: absolute; }
.ofv { overflow: visible; }


body { margin: 0; padding: 0; font-size: 12px; font-family: 'ו'; }
.bak { background: #fff url(bg2.gif) -300px 0 repeat-y; }
.reg { background: #fafafa url(bgreg.gif) repeat-x; }

.thisHeader { height: 67px; background: url(bg.gif) 0 -233px repeat-x; }
.thisHeader p { padding-left: 20px; padding-top: 20px; }

.thisSubSide { width: 170px; vertical-align: top; }

.h2Tit { font-size: 16px; color: #333; height: 36px; border-bottom: 1px #e0e0e0 solid; margin-bottom: 6px; }
.h2Tit span { font-size: 12px; font-weight: normal; color: #666; }
.h2Tit i { color: #f00; }
.h3Tit { padding-left: 10px; height: 28px; padding-top: 16px; font-size: 14px; color: #333; width: 140px; margin: 0 auto; border-top: 1px #e5e5e5 solid; }
.not { border-top: none; }
.nob { border-bottom: none; }

.h5Tips { font-size: 12px; color: #999; height: 30px; padding-top: 10px; }

.qqp { color: #666; line-height: 24px; padding-left: 20px; }
.qqp dt, .qqp dd { width: 72px; float: left; }

.xa1 { text-align: center; padding-top: 10px; height: 30px; }
.xa1 a { color: #1f84c8; margin: 0 5px; }

.thisMgr { margin-bottom: 10px; }
.thisMgr li { height: 35px; line-height: 35px; padding: 0 10px 0 17px; border-left: 3px #fff solid; }
.thisMgr a { color: #1e86c3; }
.thisMgr span a { color: #f86c3b; }
.thisMgr span { float: right; }
.thisMgr li.current, .thisMgr li.xOver { border-left: 3px #1e86c3 solid; background: #eee; }
.thisMgr li.current a, .thisMgr li.xOver a { font-weight: bold; }
.thisMgr li.current span a, .thisMgr li.xOver span a { font-weight: normal; }

.thisShowing { vertical-align: top; padding: 20px; }


.qqConnect { padding-top: 10px; width: 100%; height: 100px; }
.qqConnect dl { float: left; width: 128px; border-left: 1px #e0e0e0 solid; padding-left: 20px; }
.qqConnect dt, .qqConnect dd { height: 26px; color: #333; }

.bigTableList, .bigTableList2 { margin-bottom: 20px; }
.bigTableList td { text-align: right; color: #333; font-size: 14px; }
.bigTableList input { border: 1px #ccc solid; padding: 5px; background: #fff; font-size: 12px; color: #999; width: 240px; }
.bigTableList input.xWide { width: 360px; }
.bigTableList td.xTips, .bigTableList2 td.xTips { text-align: left; font-size: 12px; }
.bigTableList input.xlogy { background: #fff url(bg.gif) right -180px no-repeat; }
.bigTableList textarea { border: 1px #ccc solid; padding: 5px; background: #fff; font-size: 12px; color: #999; height: 100px; width: 360px; line-height: 18px; }

.bigTableList2 td { text-align: right; color: #333; font-size: 14px; }
.bigTableList td.sett, .bigTableList2 td.sett { vertical-align: top; padding-top: 15px; }
.bigTableList2 .qqConnect { padding-top: 0; height: 52px; }

.gName i { float: left; display: block; color: #666; line-height: 24px; }
.gName a { color: #589051; height: 23px; line-height: 24px; display: block; background: url(bg.gif) 0 -210px no-repeat; float: left; margin-right: 5px; margin-bottom: 5px; }
.gName a:hover { text-decoration: none; }
.gName a span { height: 23px; padding: 0 8px; display: block; background: url(bg.gif) right -210px no-repeat; float: left; cursor: pointer; }

.bigTableList3 th, .bigTableList3 td { border-bottom: 8px #fff solid; padding: 0 20px; }
.bigTableList3 dl { font-size: 14px; width: 802px; margin-bottom: 20px; }
.bigTableList3 dt { float: left; color: #333; padding-left: 10px; width: 90px; padding-top: 8px; }
.bigTableList3 dd { float: left; color: #333; width: 700px; }
.bigTableList3 th { background: #ccc; font-weight: normal; color: #333; height: 30px; }
.bigTableList3 a { color: #333; }
.bigTableList3 td { background: #eee; height: 40px; text-align: center; }
.bigTableList3 td.setl, .bigTableList3 th.setl { text-align: left; }
.bigTableList3 span { color: #666; font-size: 12px; }
a.Arrow { width: 24px; height: 24px; display: block; margin: 0 auto; background: url(bg.gif) -190px -150px no-repeat; text-indent: -987em; }
a.Arrow:hover { background-position: -190px -100px; }
.bigTableList3 input { border: 1px #ccc solid; padding: 5px; background: #fff; font-size: 12px; color: #999; width: 200px; }

.xDrop { border: 1px #ccc solid; text-align: left; padding: 2px 4px; }
.xDrop select, .xDrop option { font-size: 12px; color: #999; background: #fff; width: 90px; }

.btnSub { padding-left: 100px; height: 70px; }
.btnSub input { width: 190px; height: 40px; font-size: 14px; font-weight: bold; color: #fff; cursor: pointer; background: url(bg.gif) no-repeat; border: none; }
.btnSub input.bs2 { background-position: 0 -50px; }

.kfInfoList th { background: #eee; color: #333; height: 32px; font-weight: normal; }
.kfInfoList td { text-align: center; height: 40px; color: #333; border-bottom: 1px #e0e0e0 solid; }
.kfInfoList a { color: #333; }
.kfInfoList i { color: #666; }
.kfInfoList em a { color: #005aff; }
.xBlue { color: #005aff; }
.bigTableList3 a.xGreen, .xGreen { color: #23b70f; }
.bigTableList3 a.xRed, .xRed { color: #f00; }

.pages { height: 50px; text-align: center; font-size: 14px; padding-top: 20px; }
.pages a,.pages b,.pages span { padding: 4px 7px 2px; line-height: 25px; }
.pages a 	{ color: #666; background: #fff; border: 1px #ccc solid; }
.pages b 	{ color: #fff; border: 1px #50ace8 solid; background: #50ace8; }
.pages span { color: #ccc; background: #fff; border: 1px #ccc solid; cursor: default; }

.forKF { margin-top: -34px; }
.kfCtrl { padding-left: 20px; padding-top: 10px; height: 26px; }

.searchCat { height: 48px; margin-top: -48px; padding-left: 220px; color: #666; }
.cat10 { background: #fff; color: #ccc; border: 1px #bbb solid; padding: 4px 5px 2px; }
.cat_1 .cat10 { width: 120px; }
.cat_2 .cat10 { width: 240px; }
.cat21, .cat22, .cat23 { width: 50px; height: 22px; color: #fff; cursor: pointer; background-image: url(bg.gif); border: none; }
.cat21 { background-position: -250px 0; }
.cat22 { background-position: -250px -30px; }
.cat23 { background-position: -250px -60px; }

.cat31, .cat32, .cat33 { width: 40px; height: 22px; color: #fff; cursor: pointer; background-image: url(bg.gif); border: none; margin-top: 4px; }
.cat31 { background-position: -260px -90px; }
.cat32 { background-position: -260px -120px; }
.cat33 { background-position: -260px -150px; }

.xMore { height: 46px; margin-top: -46px; font-size: 14px; line-height: 26px; }
.xMore a { width: 120px; height: 27px; color: #fff; background: url(bg.gif) 0 -100px no-repeat; border: none; float: right; text-decoration: none; text-align: center; }
.xMore a:hover { text-decoration: none; background-position: 0 -130px; }

.likep { padding-left: 20px; color: #666; }
.likep li { line-height: 24px; height: 24px; }
.likep i { color: #333; }
.likep a, .kfInfoList i a { color: #005aff; text-decoration: underline; }
.likep a:hover, .kfInfoList i a:hover { text-decoration: none; }

.tips1 { color: #666; padding-left: 100px; height: 36px; }

.tips2 { line-height: 21px; color: #999; margin-bottom: 30px; padding-left: 10px; }
.tips2 h3 { color: #079b00; font-size: 14px; font-weight: normal; line-height: 26px; }



/* reg page */
.regWrapper { width: 600px; margin: 0 auto; }
.regWrapper h2 { padding-top: 96px; height: 120px; text-align: center; }
.nav { height: 54px; padding-left: 110px; }
.nav li { height: 54px; width: 180px; float: left; margin-right: 16px; font-size: 14px; font-weight: bold; background: url(bg3.gif) -200px 0 no-repeat; }
.nav a { display: block; text-align: center; line-height: 44px; height: 40px; color: #fff; }
.nav a:hover { text-decoration: none; }
.nav li.current { background-position: 0 0; color: #2184c5; }
.nav li.current a { color: #2184c5; line-height: 54px; }

.thisRegTable { padding-top: 20px; }
.thisRegTable h3 { height: 26px; font-size: 14px; color: #333; border-bottom: 1px #ccc solid; padding-top: 12px; margin-bottom: 6px; }
.thisRegTable h3 i { font-weight: normal; color: #f00; }
.thisRegTable td input { border: 1px #ccc solid; padding: 5px; background: #f3f3f3; font-size: 12px; color: #999; width: 210px; }
.thisRegTable td.setr { text-align: right; color: #555; font-size: 14px; width: 64px; }

.btnReg { text-align: center; height: 60px; padding-top: 10px; }
.btnReg input, .btnReg a { width: 190px; height: 40px; font-size: 14px; font-weight: bold; color: #fff; cursor: pointer; background: url(bg3.gif) -200px -100px no-repeat; border: none; }
.btnReg input.br2, .btnReg a:hover { background-position: 0 -100px; }
.btnReg a { display: block; line-height: 40px; margin: 0 auto; }
.btnReg a:hover { text-decoration: none; }

.regResult { padding-top: 100px; height: 200px; }
.regResult h3 { font-size: 24px; font-family: 'Microsoft Yahei'; color: #1baf1b; text-align: center; margin-bottom: 30px; }
.regResult h4 { font-size: 14px; color: #f00; text-align: center; margin-bottom: 30px; }

.thisLogTable { padding-top: 30px; }
.thisLogTable table { margin: 0 auto; }
.thisLogTable td { font-size: 14px; color: #333; }
.tti { border: 1px #d9d7d8 solid; padding: 10px; background-color: #f0eeef; background-image: url(bg3.gif); background-repeat: no-repeat; font-size: 14px; color: #bdbdbd; width: 380px; margin-bottom: 10px; }
.thisLogTable em { color: #999; font-size: 12px; }
.thisLogTable i { font-size: 12px; display: block; padding-top: 6px; }

.thisLogTable span input { width: 190px; height: 40px; font-size: 14px; font-weight: bold; color: #fff; cursor: pointer; background: url(bg3.gif) -200px -150px no-repeat; border: none; }
.thisLogTable span input.tt2 { background-position: 0 -150px; }
.tbg1 { background-position: right -205px; }
.tbg2 { background-position: right -255px; }



/* ========================== 2014 02 22 ========================== */
.vipPage .h2Tit { color: #e05a00; }
.vipPage .kfInfoList th { background: #fff3d9; color: #9e4a00; }
.vipPage .kfInfoList em a { color: #f00; text-decoration: underline; }
.vipPage .kfInfoList em a:hover { color: #f00; text-decoration: none; }
.vipPage .gName a { margin-bottom:0;}

.fu30 { width: 400px; height:180px; position: fixed; _position: absolute; left: 50%; margin-left: -200px; background: #fff; z-index: 22; border: 2px #6ec0f5 solid; overflow:visible }
.fu30 h2 { width: 388px; height: 36px; line-height: 38px;padding-left: 12px; color: #fff; font-size: 14px; background: #6ec0f5; }
.fu30 p.wxx { height: 36px; margin-top: -36px; }
.fu30 p.wxx a { height: 33px; width: 33px; display: block; float: right; padding-left: 3px; padding-top: 3px; }
.fu30 p.wxx a:hover { background: #46a4e0; }

.fdsfe33 { background: #fff url(bg.gif) right -180px no-repeat; border: 1px #ccc solid; padding: 5px;font-size: 12px; color: #999; width: 330px;}

.fgfg34 { width: 120px; height: 27px; color: #fff; background: url(bg.gif) 0 -130px no-repeat; border: none; text-decoration: none; text-align: center; cursor: pointer; }
.fgfg340 { width: 120px; height: 27px; color: #fff; background: url(bg.gif) 0 -100px no-repeat; border: none; text-decoration: none; text-align: center; cursor: pointer; }


.ghj6 { width: 40px; height: 22px; color: #fff; background: url(bg.gif) -260px -90px no-repeat; border: none; text-decoration: none; text-align: center; cursor: pointer; }
.ghj60 { width: 40px; height: 22px; color: #fff; background: url(bg.gif) -260px -120px no-repeat; border: none; text-decoration: none; text-align: center; cursor: pointer; }




