.xScreen, .thisRankInnerWrapper, .thisTable2014 { width: 900px; }
.xScreen2, #bg_a .xScreen, #bg_b .xScreen, #bg_d .xScreen, #bg_e .xScreen, #body_a .thisTable2014 { width: 898px; }
.xWide { width: 250px; }
.xtWide { width: 210px; padding-left: 16px; }
.xtWide input { width: 200px; }
#kit_d { width: 906px; }
.thisOuterWrapper, #gps_e .xScreen2 { width: 910px; }
.tableTitle li, .tableList li, .thisRemind { width: 124px; }
.tableTitle li.vv, .tableList li.vv { width: 148px; border-right: none; }
.thisCalendar { width: 881px; }
.thisCalendar li { width: 79px; }
.xRank { width: 433px; }
.xRank3 { width: 285px; }
.areaContents dd { width: 580px; }
.areaContents dd.w960 { width: 660px; }
.fu4 { margin-left: 455px; }
.thisPointer { margin-left: -509px; }
.ssIntro { width: 410px; }

.tableList li.v2, 
.tableList li.vGift, 
.tableList li.thisWH, 
.tableTitle li.x14 { width: 114px; }
.tableList li.vName, .tableTitle li.x16 { width: 164px; }
.tableList li.v2 { line-height: normal; height: 22px; padding-top: 8px; }




#body_f .thisOuterWrapper, #body_f .xScreen { width: 928px; }
#body_f .thisInnerNav .thisNavWrapper { width: 914px; }
#body_f .fu4 { margin-left: 460px; }
#body_f .thisTopper { width: 910px; }

.xw1 { width: 150px; }
.xw2, .xw3, .xw4, .xw8, .thisRemind2 { width: 90px; }
.xw5 {  }
.xw6 { width: 128px; }
.xw7 { width: 104px; }













