h1, h2, h3, h4, h5, h6, 
dl, dd, dt, ol, ul, li, 
p, form { margin: 0; padding: 0; }

ol, ul, li, dl, dd, dt { list-style: none; } a img { border: none; } em, i { font-style: normal; }
input, option, select, textarea, button { font-size: 12px; }
div, li, ul, ol, dl, dd, dt, p { width: auto; overflow: hidden; }

a { overflow: hidden; outline: none; text-decoration: none; }
a:hover { text-decoration: underline; }
.clear { clear: both; font-size: 0; visibility: hidden; width: 0; line-height: 0; }
.fl, lt { float: left; display: inline; } .fr, .rt { float: right; display: inline; }

.clearfix:after { content:"."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.xRel { position: relative; }
.xAbs { position: absolute; }
.ofv { overflow: visible; }
.msya { font-family: 'Microsoft Yahei'; }

body { margin: 0; padding: 0; font-size: 12px; font-family: '����'; }

.includeGlobalTop { height: 33px; overflow: visible; background: url(http://img1.07073.com/_12img/dimg/bg.gif) 0 -300px repeat-x; }
.includeGlobalFoot { text-align: center; line-height: 24px; height: 90px; padding-top: 16px; }

.thisOuterWrapper { padding-top: 10px; }
.thisOuterWrapper, .thisInnerWrapper, .thisInnerMore, .thisCalendar { margin: 0 auto; }
.thisInnerWrapper { color: #444; }


.tableTitle { height: 37px; text-align: center; }
.tableTitle li { border-right: 1px #d5d5d5 solid; border-bottom: 1px #d5d5d5 solid; height: 36px; font-size: 14px; float: left; line-height: 36px; }

.tableList { background: #fff; height: 31px; text-align: center; }
.xFire, .xFire1 { background: #fffbba; }
.tableList li { border-right: 1px #d5d5d5 solid; border-bottom: 1px #d5d5d5 solid; height: 30px; float: left; }
.tableList li.v2 { line-height: 30px; }
.tableList li.vGift, .tableList li.vv { padding-top: 8px; height: 22px; }
.tableList li.vGift img { margin-right: 5px; margin-top: -5px; }
.tableList li.thisWH p { height: 30px; line-height: 30px; }
.tableList li.thisWH p a { display: block; }
.thisRemind { position: absolute; height: 30px; top: 0; left: 0; height: 0; background: #e8f5ff; }
.thisRemind a { display: block; height: 22px; padding-top: 8px; }
.tableList li a, .xMore a { color: #444; }
.tableList li.vv a.vv, .xCert i { color: #3598db; }
.xCert { position: absolute; top: -55px; right: 3px; width: 180px; height: 55px; padding-left: 10px; padding-top: 4px; background: url(_img/xCert.png) no-repeat; display: none; }
.xCert p { text-align: left; line-height: 22px; }
.xMore { height: 40px; line-height: 40px; text-align: center; }

/*.tableList li.vName a { color: #0b6bc5; }
.xFire li.vName { font-weight: bold; }
.xFire li.vName a, .tableList li.vName a:hover { color: #f13940; }*/
.xFire li.vName, .tableList li.vName a { font-weight: bold; }
.xFire li.vName a, .tableList li.vName a, .tableList li.vName a:hover { color: #f13940; }

.tableList li.vStart, .xFire li.vStart { padding-top: 3px; height: 27px; }
.tableList li.vStart a, .xFire li.vStart a { width: 75px; height: 25px; display: block; line-height: 25px; text-align: center; margin: 0 auto; }
.tableList li.vStart a { background-position: 0 -700px; }
.tableList li.vStart a:hover { text-decoration: none;  background-position: -80px -700px; }
.xFire li.vStart a { background-position: 0 -725px; }
.xFire li.vStart a:hover { text-decoration: none;  background-position: -80px -725px; }


.thisTopper, .thisNavWrapper, .thisGPS { margin: 0 auto; }
.thisNavWrapper { z-index: 4; }
.thisOuterTopper { background-repeat: repeat-x; background-position: 0 -50px; }
.thisInnerTopper { background-repeat: no-repeat; background-position: center 0; }
.thisTopper { height: 113px; }
.thisOuterNav { height: 50px; background-repeat: repeat-x; background-position: 0 -200px; }

.thisNav { background-repeat: no-repeat; background-position: 0 -550px; height: 50px; width: 680px; }
.thisNav li { width: 170px; float: left; height: 50px; font-size: 18px; text-align: center; line-height: 50px; margin-right: -1px; background-repeat: no-repeat; background-position: right -600px; }
.thisNav li a { color: #fff; display: block; }
.thisNav li a:hover, .thisTotal em a:hover { text-decoration: none; }
.thisNav li.current a, .thisNav li a:hover { background-repeat: no-repeat; background-position: 0 -500px; }

.thisBrowsing { position: absolute; top: 10px; right: -5px; width: 260px; }
#kit_d .thisBrowsing { right: -2px; }
.imgbr { text-align: right; padding-right: 5px; }
.thisBrowsingBox { padding: 5px; margin-top: -5px; }
.thisBrowsingList { width: 228px; background: #fff; margin: 0 auto; padding: 10px; color: #666; border: 1px #dedede solid; }
.thisBrowsingList h4 { font-size: 12px; font-weight: normal; height: 21px; border-bottom: 1px #ddd solid; }
.thisBrowsingList p { height: 21px; margin-top: -22px; text-align: right; color: #999; }
.thisBrowsingList p a { color: #999; }
.thisBrowsingList td { border-bottom: 1px #ddd solid; height: 30px; }
.thisBrowsingList td.b3 { text-align: right; width: 50px }
.thisBrowsingList td a, .thisBrowsingList h5 a { color: #0b6bc5; }
.thisBrowsingList td.b3 a { color: #258dd2; }
.thisBrowsingList h5 { font-size: 12px; font-weight: normal; height: 20px; line-height: 25px; overflow: hidden; }
.thisBrowsingList h6 { font-size: 12px; font-weight: normal; height: 20px; line-height: 25px; overflow: hidden; margin-top: -20px; }
.thisBrowsingList h6 a { color: #ff7200; float: right; }
.thisBrowsingList strong { text-align: center; display: block; height: 30px; padding-top: 14px; }
#br_2 { display: none; }


.kfLogo { width: 320px; height: 60px; padding-left: 0px; padding-top: 0px; }
.thisTotal { width: 72px; height: 72px; text-align: center; left: 50%; top: 19px; margin-left: -38px; background-repeat: no-repeat; background-position: 0 -400px; }
.thisTotal i { color: #fff; padding-top: 3px; height: 22px; }
.thisTotal em { color: #333; height: 16px; overflow: hidden; }
.thisTotal b { color: #f0484f; font-size: 20px; letter-spacing: -1px; }
.thisTotal i, .thisTotal em, .thisTotal b, .thisChangeSkinList i, .thisChangeSkinList a, .thisChangeSkinList dd span { display: block; }
.thisTotal a:hover { text-decoration: none; }

.thisChange { width: 233px; height: 30px; background-repeat: no-repeat; background-position: 0 0; top: 0; right: 0; }
.thisChange li { float: left; margin-right: 7px; padding-left: 36px; line-height: 28px; width: 36px; }
.thisChange li.x24 { width: 24px; margin: 0; line-height: 30px; }
.thisChange a { color: #fff; }

.thisSearch { top: 48px; right: 30px; }
.thisSearch p, .thisSearch p a { color: #fff; }
.thisSearch p { font-family: '����'; padding-top: 10px; padding-left: 6px; height: 14px; }
.tsbg { height: 25px; background-repeat: repeat-x; background-position: 0 -325px; }
.tsbg i { width: 12px; height: 25px; float: right; background-repeat: no-repeat; background-position: right -300px; }
.tsbg em { width: 12px; height: 25px; float: left; background-repeat: no-repeat; background-position: 0 -300px; }

.tsTable { margin-top: -25px; }
.tsip { color: #999; background: none; border: none; padding-top: 1px!important; padding-top: 3px; }

.xShadow { -moz-box-shadow: 0 0 6px #777; -webkit-box-shadow: 0 0 6px #777; box-shadow: 0 0 6px #777; }

.thisChangeSkin { width: 618px; height: 378px; position: absolute; top: 315px; left: 50%; margin-left: -310px; background: #fff; visibility: hidden; z-index: 5; border: 1px #dedede solid; }
.thisChangeSkin h3 { height: 30px; line-height: 28px; color: #fff; padding-left: 12px; font-size: 13px; font-weight: normal; }
.thisChangeSkin p { height: 30px; margin-top: -30px; }
.thisChangeSkin p a { height: 30px; width: 30px; display: block; float: right; }
.thisChangeSkin p a:hover { background: #f0484f; }

.thisChangeSkinList { padding-top: 20px; padding-left: 30px; width: 600px; }
.thisChangeSkinList dl { width: 106px; float: left; text-align: center; margin-right: 40px; height: 142px; padding-top: 5px; cursor: pointer; border: 1px #fff solid; margin-bottom: 10px; }
.thisChangeSkinList dl.xaver { border: 1px #d0dde1 solid; }
.thisChangeSkinList dt { height: 18px; background-image: url(_img/thisChangeSkin.gif); background-repeat: no-repeat; color: #4884cd; padding-top: 70px; }
	.thisChangeSkinList dt.xa { background-color: #429ad7; }
	.thisChangeSkinList dt.xb { background-color: #9cb9d5; }
	.thisChangeSkinList dt.xc { background-color: #273d6e; }
	.thisChangeSkinList dt.xd { background-color: #57b845; }
	.thisChangeSkinList dt.xe { background-color: #a10000; }
	.thisChangeSkinList dt.xf { background-color: #5784c0; }
.thisChangeSkinList i { color: #666; height: 20px; }
.thisChangeSkinList dd a { width: 82px; height: 24px; line-height: 22px; color: #666; background: url(_img/thisChangeSkin.gif) 0 -200px no-repeat; margin: 0 auto; }
.thisChangeSkinList dd a:hover { text-decoration: none; background-position: 0 -150px; }
.thisChangeSkinList dd span { width: 82px; height: 24px; line-height: 22px; color: #666; background: url(_img/thisChangeSkin.gif) 0 -100px no-repeat; margin: 0 auto; }

.w400 { width: 400px; margin-left: -200px; }
.w500 { width: 500px; margin-left: -250px; }

.thisWinWrapper { position: fixed; _position: absolute; left: 50%; background: #fff; z-index: 65; border: 1px #dedede solid; }
.thisWinWrapper h2 { height: 40px; line-height: 38px; color: #fff; font-size: 18px; font-weight: normal; }
.thisWinWrapper p.wxx { height: 40px; margin-top: -40px; }
.thisWinWrapper p.wxx a { height: 35px; width: 35px; display: block; float: right; padding-left: 5px; padding-top: 5px; }

.thisWinPages { padding: 14px 20px; line-height: 24px; color: #333; }
.thisWinPages b { font-size: 14px; }
.thisWinPages h3 { font-size: 16px; color: #e8454c; text-align: center; height: 36px; }
.thisWinPages h4 { height: 40px; text-align: center; }
.thisWinPages h4 input { background: #fff; border: 1px #d0d0d0 solid; padding: 5px; color: #333; width: 300px; }
.thisWinPages h5 { height: 36px; font-size: 12px; font-weight: normal; padding-left: 95px; }
.thisWinPages h5 a { width: 80px; height: 25px; line-height: 26px; text-align: center; color: #fff; display: block; background: url(_img/thisWinPages.gif); float: left; margin-right: 10px; }
.thisWinPages h5 a.wpa1 { background-position: 0 0; }
.thisWinPages h5 a.wpa1:hover { background-position: -100px 0; }
.thisWinPages h5 a.wpa2 { background-position: 0 -50px; }
.thisWinPages h5 a.wpa2:hover { background-position: -100px -50px; }
.thisWinPages h5 a:hover, .thisWinPages h6 a:hover { text-decoration: none; }
.thisWinPages h6 { height: 50px; font-size: 16px; font-weight: normal; }
.thisWinPages h6 a { width: 110px; height: 35px; line-height: 36px; text-align: center; color: #fff; display: block; background: url(_img/thisWinPages.gif) -200px 0 no-repeat; margin: 0 auto; }
.thisWinPages h6 a:hover { background-position: -200px -50px; }

.thisWinPages2 { padding: 14px 20px; height: 130px; }
.thisWinPages2 dl { height: 104px; }
.thisWinPages2 dt { width: 68px; color: #000; }
.thisWinPages2 dd { width: 390px; }
.thisWinPages2 textarea { background: #fff; border: 1px #d0d0d0 solid; padding: 5px; line-height: 20px; color: #999; width: 378px; height: 80px; }
.thisWinPages2 h5 { height: 25px; font-size: 12px; font-weight: normal; }
.thisWinPages2 h5 a { width: 80px; height: 25px; line-height: 26px; text-align: center; color: #fff; display: block; background: url(_img/thisWinPages.gif) 0 -100px no-repeat; float: right; }
.thisWinPages2 h5 a:hover { background-position: -100px -100px; text-decoration: none; }
.thisWinPages2 p { text-align: center; padding-top: 45px; height: 50px; }


.thisBigTitle { height: 40px; margin: 0 auto; line-height: 32px; }
.tt_l { font-size: 18px; padding-left: 22px; }
.tt_r { padding-right: 4px; }
.tt_k { color: #666; font-size: 18px; padding-left: 45px; background: url(../_img/tt_k.gif) 14px 9px no-repeat; }

.tt_r b { font-size: 16px; }

.thisLink { line-height: 25px; background: #fff; color: #ccc; padding: 8px 16px; }
.thisLink a { white-space: nowrap; color: #666; }
.thisLink a:hover { color: #3598db; }
.thisLink span { width: 58px; height: 25px; background: url(../a/bg.gif) 0 -798px no-repeat; color: #fff; display: block; float: left; padding-left: 6px; margin-right: 5px; }

.thisCalendarWrapper { padding-top: 10px; border-top: 1px #cacaca solid; }
.thisCalendar ul { border-top: 1px #ccc solid; border-left: 1px #ccc solid; margin-bottom: 6px; }
.thisCalendar li { height: 30px; font: bold 16px/30px Arial; text-align: center; float: left; border-bottom: 1px #ccc solid; border-right: 1px #ccc solid; }
.thisCalendar li.today { background: url(_img/today.gif) center 0 no-repeat; text-indent: -987em; }
.thisCalendar a { color: #3D4446; display: block; }
.thisCalendar a:hover { text-decoration: none; color: #db2931; }
.thisCalendar li.current a { color: #db2931; background: url(../_img/thisChangeSkin.gif) center -250px no-repeat; }



.selectYM { height: 30px; margin-top: -30px; overflow: visible; }
.selectYMSpace { width: 168px; height: 25px; margin: 0 auto; background: url(http://img1.07073.com/_12img/kf201208/kf_bg3.gif) 0 -350px no-repeat; position: relative; color: #2E3537; overflow: visible; }

.sPrev, .sNext { width: 7px; height: 13px; padding-top: 5px; }
.sPrev a, .sNext a { display: block; width: 7px; height: 13px; text-indent: -978em; }
.sPrev { margin-right: 10px; }

.sYear, .sMonth { text-align: center; font-size: 14px; line-height: 24px; }
.sYear { width: 60px; }
.sMonth { width: 40px; margin-left: 5px; }

.thisDrop { width: 15px; height: 25px; }
.thisDrop a { display: block; width: 15px; height: 25px; text-indent: -978em; }

.sYearDrop, .sYearDrop li { width: 72px; left: 17px; }
.sMonthDrop, .sMonthDrop li { width: 54px; left: 95px; }
.sYearDrop, .sMonthDrop { position: absolute; border: 1px #CBCBCB solid; background: #fff; top: 23px; overflow-y: scroll; height: 84px; }
.sYearDrop li, .sMonthDrop li { height: 21px; line-height: 21px; float: left; }
.sYearDrop a, .sMonthDrop a { display: block; padding-left: 9px; color: #666; }
.sYearDrop a:hover, .sMonthDrop a:hover { background: #eee; text-decoration: none; }


.thisGPS { height:50px; line-height: 50px; background-repeat: repeat-x; background-position: 0 -55px; }
.thisGPS p { padding-left: 26px; background-repeat: no-repeat; background-position: 6px 16px; }

.thisRankWrapper { padding: 10px; background: #fff; }
.thisRank { margin-right: 10px; }
.thisRank td { color: #f00; text-align: center; }
.thisRank a { color: #333; }
.thisRank th.rTit { font-size: 14px; color: #333; height: 35px; }
.thisRank th.rtot { font-size: 16px; color: #f0484f; height: 30px; }
.thisRank thead th { font-size: 16px; text-align: left; height: 35px; padding-left: 10px; }

.thisRankWrapper h3 { font-size: 30px; text-align: center; color: #f0484f; padding-top: 20px; height: 55px; }
.thisRankWrapper h4 { text-align: center; font-size: 14px; font-weight: normal; color: #666; background: #f4f4f4; width: 300px; height: 30px; line-height: 30px; margin: 0 auto 25px; }

.thisRelatedUnited { padding-top: 14px; padding-left: 16px; background: #fff; }
.thisRelatedUnited li { height: 36px; line-height: 23px; float: left; width: 88px; margin-right: 10px; }
.thisRelatedUnited a { color: #333; text-align: center; height: 22px; display: block; }
.thisRelatedUnited a:hover { color: #fff; text-decoration: none; }

.areaContents { background: #fff; padding: 10px 20px 16px; }
.areaContents h3 { height: 46px!important; height: 50px; font-size: 26px; color: #666; border-bottom: 1px #dedede solid; margin-bottom: 10px; overflow: hidden; }
.areaContents p { width: 180px; float: left; padding-left: 10px; padding-top: 5px; }
.areaContents dl { font-size: 14px; line-height: 25px; }
.areaContents dt { color: #333; font-weight: bold; width: 78px; }
.areaContents dd { color: #666; }
.areaContents dd a, .areaContents b { color: #2982c0; }
.areaContents h4 { font-size: 16px; color: #0b6bc5; }

.pages { height: 40px; text-align: center; background: #fff; padding-top: 15px; }
.pages a,.pages b,.pages span { padding: 4px 9px 3px; line-height: 27px; }
.pages a 	{ color: #666; background: #fff; border: 1px #ccc solid; }
.pages b 	{ color: #fff; border: 1px #666 solid; background: #666; }
.pages span { color: #ccc; background: #fff; border: 1px #ccc solid; cursor: default; }

.fu4 { width: 40px; position: fixed; _position: absolute; left: 50%; bottom:50px; _top: expression(((documentElement.scrollTop+document.documentElement.clientHeight)-220)+'px'); }
.fu4 li { height: 43px; }
.fu4 a { height: 40px; display: block; text-indent: -987em; background-image: url(../_img/fu.gif); background-repeat: no-repeat; }
.fu41 a { background-position: 0 0; }
.fu42 a { background-position: 0 -50px; }
.fu43 a { background-position: 0 -100px; }
.fu44 a { background-position: 0 -150px; }
.fu41 a:hover { background-position: -50px 0; }
.fu42 a:hover { background-position: -50px -50px; }
.fu43 a:hover { background-position: -50px -100px; }
.fu44 a:hover { background-position: -50px -150px; }

.thisPointer { width: 64px; position: fixed; _position: absolute; left: 50%; z-index: 66; 
background-position: -64px 0; background-repeat: no-repeat; padding: 1px 0; }
.thisPointer ul { background-position: 0 bottom; background-repeat: no-repeat; }
.thisPointer li { background-position: -128px -5px; height: 26px; line-height: 24px; background-repeat: no-repeat; }
.thisPointer li.xLast { background-position: -192px -5; }
.thisPointer a { height: 26px; padding-left: 14px; display: block; }
.thisPointer li.xLast a { padding-left: 5px; }
.thisPointer a:hover, .thisPointer a.current { text-decoration: none; background-position: -128px -37px; background-repeat: no-repeat; color: #fff; }
.thisPointer li.xLast a:hover, .thisPointer li.xLast a.current { color: #fff; }
.wpa3 { width: 80px; height: 25px; display: block; float: left; margin-right: 10px; background: url(../_img/thisWinPages.gif); }





.ssContents { background: #fff url(../_img/thisWinPages.gif) center -360px no-repeat; padding: 10px 20px 20px; }
.ssBigTitle { background: #fff; padding: 10px 20px 0; height: 50px; font-size: 26px; color: #666; border-bottom: 1px #dedede solid; overflow: hidden; }
.ssContents p { width: 180px; padding-left: 10px; padding-top: 5px; }
.ssIntro { line-height: 24px; color: #666; font-size: 14px; }
.ssIntro dt { color: #333; font-weight: bold; }
.ssIntro a { color: #0b6bc5; }
.ssTit { width: 250px; }
.ssTit h1 { font-size: 24px; color: #f26a6f; float: left; margin-right: 10px; }
.ssTit span { float: left; height: 22px; float: left; line-height: 22px; display: block; color: #666; background: url(../_img/thisWinPages.gif) 0 -250px no-repeat; margin-top: 6px; }
.ssTit i {  height: 22px; line-height: 22px; float: left; display: block; background: url(../_img/thisWinPages.gif) right -250px no-repeat; padding: 0 10px 0 14px; font-size: 14px; }
.ssTit dt { height: 44px; padding-top: 4px; }
.sst { font-size: 14px; color: #666; height: 24px; }
.ssa { padding-top: 6px; }
.ssa a { width: 105px; height: 35px; display: block; float: left; margin-right: 5px; color: #fff; line-height: 35px; text-align: center; background-image: url(../_img/thisWinPages.gif); background-repeat: no-repeat; }
.ssa a:hover { text-decoration: none; }
.ssa a.as1 { background-position: -120px -150px; }
.ssa a.as1:hover { background-position: 0 -150px; }
.ssa a.as2 { background-position: -120px -200px; }
.ssa a.as2:hover { background-position: 0 -200px; }

.ssTit h1 a { color: #f26a6f; }
.sst a, .ssTit i a { color: #666; }


.thisPointer li.txPointer a { padding-left: 5px; }
.thisAfter9o { height: 46px; padding-left: 10px; }
.thisAfter9oToday { height: 40px; line-height: 40px; font-size: 18px; color: #fff; }
.thisAfter9oToday .xScreen { margin: 0 auto; background: #8077c2; }


.thisTable2014 { margin: 0 auto; } 
.thisTable2014 table { border-collapse: collapse; text-align: center; color: #000; background: #fff; }
.thisTable2014 th { background: url(f/bg.gif) 0 -650px repeat-x; height: 36px; font-size: 12px; font-weight: normal; border: 1px #cfdce7 solid; }
.thisTable2014 td { border: 1px #cfdce7 solid; height: 33px; }
.xHuo { background: #ffff99; }
.thisTable2014 a { color: #000; }
.thisTable2014 a.vGo2 { width: 75px; height: 25px; display: block; line-height: 25px; text-align: center; margin: 0 auto; color: #fff; background: url(f/bg.gif) 0 -700px no-repeat; }
.thisTable2014 a.xGift { padding: 2px 0 1px 18px; color: #ff0084; font-family: Verdana; 
background-image: url(../_img/gift2014.gif); background-repeat: no-repeat; background-position: 0 0!important; background-position: 0 -1px; }
.thisTable2014 a.vName { color: #f00; font-weight: bold; font-family: Verdana; }
.thisTable2014 a.xHuo1, .thisTable2014 a.xHuo2 { padding: 2px 18px 1px 0; background-repeat: no-repeat; background-position: right 0!important; background-position: right -1px; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
/* IE10-specific styles go here */
.thisTable2014 a.xHuo1, .thisTable2014 a.xHuo2 { background-position-x: right; background-position-y: 0; }
.thisTable2014 a.xGift { padding: 0 0 1px 18px; }
}

.thisTable2014 a.xHuo1 { background-image: url(../_img/huo1.gif); }
.thisTable2014 a.xHuo2 { background-image: url(../_img/huo2.gif); }

.thisTable2014 i.xRed, .thisTable2014 a.xRed { color: #f00; }
.thisTable2014 i.xGreen, .thisTable2014 a.xGreen { color: #1fb022; }
.thisTable2014 i.xGray, .thisTable2014 a.xGray { color: #999; }


div.thisWH { height: 33px; display: block; position: relative; }
div.thisWH p { height: 33px; line-height: 33px; }
div.thisWH p a { display: block; }
.thisRemind2 { position: absolute; height: 33px; top: 0; left: 0; height: 0; background: #d9edf9; }
.thisRemind2 a { display: block; height: 24px; padding-top: 9px; }

.ti2014a { top: 15px; right: 107px; font-size: 14px; }







